@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* used for scrolling to section from nav */
html{scroll-behavior:smooth}

text {
  font-family: 'Raleway', sans-serif;
}

.nav-links {
  position: absolute;
  padding-top: 3rem;
  height: 10vh;
  z-index: 1;
  right: 10vw;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.home {
  /* position: relative; */
  overflow: hidden;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center; 
  font-weight: 500;

  /* mesh background */
  background-color:hsla(110,0%,0%,1);
  background-image:
  radial-gradient(at 0% 0%, hsla(360,38%,98%,1) 0px, transparent 50%),
  radial-gradient(at 13% 52%, hsla(220,84%,77%,1) 0px, transparent 50%),
  radial-gradient(at 96% 35%, hsla(252,80%,68%,1) 0px, transparent 50%),
  radial-gradient(at 57% 9%, hsla(271,83%,60%,1) 0px, transparent 50%);
}

.about {
  background-color: black;
  position: relative;
  padding: 10% 25% 0% 25%;
}

.experience-contact-footer {
  background-color:hsla(349,0%,0%,1);
  background-image:
  radial-gradient(at 1% 87%, hsla(351,98%,79%,1) 0px, transparent 50%),
  radial-gradient(at 37% 44%, hsla(212,65%,67%,1) 0px, transparent 50%),
  radial-gradient(at 86% 43%, hsla(209,93%,79%,1) 0px, transparent 50%);
  background-size: cover;
 background-repeat: no-repeat;
}

.experience-contact {
  padding: 10% 25% 8% 25%;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
}

.title {
  font-size: calc(1.3em + 1vw);
  text-align: center;
  position: relative;
  bottom: 7%;
  color: #f1faee;
  width: 55vw;
}

.home-links {
  font-size: calc(1rem + 0.75vw);
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10%;
  bottom: 12%;
  gap: 2rem;
}

.heading {
  font-size: calc(1.3em + 1vw);
  font-weight: 600;
  text-align: center;
  justify-content: center;

  position: relative;
  padding-bottom: 10vh;
  color: white;
}

.about-item, .contact-item {
  font-size: calc(1em + 1vw);
  text-align: center;
  align-items: center;
  color: white;
  font-weight: 300;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
}

.about-item-icon {
  color: white;
  position: relative;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-style: italic;
}

a.nav-link {
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-style: normal;
}

a:hover {
  color: rgb(169, 169, 219);
}

.experience-item {
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
}

.experience-item-text {
  font-weight: 300;
  font-size: calc(1em + 1vw);
}

.experience-time-range {
  font-size: 1.25em;
  font-size: calc(0.5em + 1vw);
  font-weight: 400;
}

.experience-divider-icon {
  padding-left: 50%;
  padding-bottom: 4rem;
}

.contact {
  padding-top: 10%;
}

.contact-item-icon {
  padding-top: 2rem;
}

.footer {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  right: 5%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: 500;
}